.hoover:hover {
  background-color: #66a2d0;
  color: white;
}

.hoover {
  background-color: #DBDBDB;
}
.qik:hover{
  background-color: #66a2d0;
}

.hoverIcon img {
  filter: saturate(0%);
}
.hoverIcon:hover img {
  filter: saturate(100%);
}
