.hoover:hover {
  background-color: #66a2d0;
  color: white;
}
/* .hoover:hover h5{
    position: absolute;
    top: 0;
} */
/* .hoover:hover p {
    color: white;
  visibility: visible;
} */
.hoover {
  background-color: white;
  transition: 0.7s;
}
/* .hoover p {
  visibility: hidden;
} */
.hoverIcon img {
  filter: saturate(0%);
}
.hoverIcon:hover img {
  filter: saturate(100%);
}
