
.blog-heading {
    position: relative;
  }
  
  .blog-heading::before,
  .blog-heading::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 5%;
    height: 1px;
    background-color: #000; 
  }
  
  .blog-heading::before {
    left: 36%;
    margin-left: 5%;
  }
  
  .blog-heading::after {
    right: 36%;
    margin-right: 5%;
  }