.card {
  transition: 300ms ease-in-out;
  height: 24rem;
  overflow: auto;
}

.card-title {
  font-weight: bold;
}
.card:hover {
  background-color: #67acda;
  transform: scale(1.1) !important;
  cursor: pointer;
  bottom: 0;
  height: 24rem;

  /* transition: 0.5s; */
  /* background-image: linear-gradient(to bottom left, #67acda);
    color:black; */
  /* background-position: top; */
}

.card button:hover {
  background-color: white;
  color: black;
}
