.gallery-image-col {
    position: relative;
    overflow: hidden;
    
    
    
}
  .gallery-image-col:hover img {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
    
  }
  .gallery-image-col:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(187, 28, 28, 0.3); 
    pointer-events: none;
  }
  .button-style {
    width: 80px;
    height: 40px;
    font-size: 15px;
  }
  /* .imageArray{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "imageOne imageTwo imageThree"
    "imageOne imageFour imageFive";
    grid-template-columns: 1fr 20% 20%;
  }
  .imageArray > div {
    border: 2px solid black;
  } 
.imageArray > div  :first-child{
    grid-area: imageOne;
    height: 300px;
    
} 
   */
  