.gallery-image-col {
  position: relative;
  overflow: hidden;
}

.gallery-image-col Image {
  transition: transform 0.3s ease-in-out;
}

.gallery-image-col:hover Image {
  transform: scale(1.1);
 
}

.hovered .hover-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: start;
  
  
}

.hover-content h1 {
  margin: 10px;
 color: #fff;
  font-size: 20px;
  text-align: start;
}
.plus-Icon {
  margin: 10px;
  color: #fff;
  font-size: 30px;
  text-align: start;
}

.button-style {
    
    height: 40px;
    font-size: 15px;
    
    
  }
  .button-style:focus{
    background-color:#3498db;
  }
 