p{
    text-align: start;
}
.modal-content{
    background: rgba(29, 29, 39, 0.7);
}
/* h1{
   
    display: inline-block;
}
h1::before{
    margin:0;
    transform: translateY(-50%);
}
h1::after{
    margin:0;
    transform: translateY(-50%);
}
h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px; 
    height: 3px; 
    background-color: #3498db; 
    display: inline-block;
  }
  
  h1::before {
    left: 0;
  }
  
  h1::after {
    right: 0;
  }
  
   */